body{
	background-color: white;
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	overflow: hidden;
}

h1{
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 5px;
	background-color: #ffffff;
	width: 100%;

	border-style: solid;
	border-color: #777;
	border-width: 0px 0px 5px 0px;
	border-radius: 0px 0px 15px 15px;
}

h2{
	font-size: 30px;
}

/* Style tab links */
.tablink {
    color: #000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: lowercase;
    width: 100%;
}

.tablink:hover {
    background-color: #ccc;
    color:#ffffff;
    font-style: italic;
    letter-spacing: 2px;
}

#sidebar{
    width: 130px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #000000;
    overflow-x: hidden;
    margin: 0px 0px 0px 20px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	position: relative;
    color: #000000;
    background-color:#fff;
    display: none;
    padding: 0px 40px 40px 40px;
    height: 100vh;
    margin: 0px 0px 0px 170px;
    overflow: hidden;
}

#redT {
	margin: 80px 0px 0px 0px;
	border-style: solid;
	border-width: 10px 0px 0px 0px;
	border-color: #ffffff;
	background-color: #ff0000;
	border-radius: 25px 25px 0px 0px;
}

#orangeT {
	background-color: #ff6e00;
}

#yellowT {
	background-color: #ffc700;
}

#greenT {
	background-color: #00cc00;
}

#blueT {
	background-color: #00a5ff;
	border-style: solid;
	border-width: 0px 0px 10px 0px;
	border-color: #222;
	border-radius: 0px 0px 25px 25px;
}

#red {
	color: #ff0000;
	border-color: #ff0000;
}

#orange {
	color: #ff6e00;
	border-color: #ff6e00;
}

#yellow {
	color: #ffc700;
	border-color: #ffc700;
}

#green {
	color: #00cc00;
	border-color:#00cc00;
}

#blue {
	color: #00a5ff;
	border-color: #00a5ff;
}

/* class for static stuff inside of a div */
.contentbox {
	position: absolute;
	height: 90%;
	width: 92%;
	margin: 0px 0px 0px 0px;
	background-color: #fff;
	color: #555555;
	padding: 0px 10px 180px 10px;
	overflow: hidden;
}

#landing {
	margin: 50px auto;
	text-align: center;
	min-width: 300px;
	max-width: 800px;
	font-family: Helvetica;
}

#redArc {
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	background-color: #f00;
	width:	600px;
	height: 300px;
	border-radius: 300px 300px 0px 0px;
}

#orangeArc{
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	background-color: #ff6e00;
	width:	500px;
	height: 250px;
	border-radius: 250px 250px 0px 0px;
}

#yellowArc{
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	background-color: #ffc700;
	width:	400px;
	height: 200px;
	border-radius: 200px 200px 0px 0px;
}

#greenArc{
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	background-color: #0c0;
	width:	300px;
	height: 150px;
	border-radius: 150px 150px 0px 0px;
}
#blueArc{
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	background-color: #00a5ff;
	width:	200px;
	height: 100px;
	border-radius: 100px 100px 0px 0px;
}
#whiteArc {
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	background-color: white;
	width:	100px;
	height: 50px;
	border-radius: 50px 50px 0px 0px;
}

.game {
	position: relative;
	display: inline-grid;
	vertical-align: top;
	margin: 2% 5% 5% 2%;
	min-width: 150px;
  	min-height: 150px;
  	max-width: 250px;
  	max-height: 600px;
	padding: 0px 0px 0px 0px; /* not sure why 100% is overflowing for caption */
}

.gameImage {
	position: relative;	
	width: 100%;
	border-radius: 30px;
	display: table-cell;
}

.gameCaption {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	color: #222;
	padding: 25px 25px 25px 25px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.game:hover	.gameCaption {
	display: inline-block;
/*
	border-width: 2px;
	border-style: solid;
	border-color: #222;
	*/
}

.game:hover .gameImage {
	opacity: 0.25;
}

/* width */
.gameCaption::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.gameCaption::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.gameCaption::-webkit-scrollbar-thumb {
    background: #ccc; 
}

/* Handle on hover */
.gameCaption::-webkit-scrollbar-thumb:hover {
    background: #0c0; 
}

@media only screen and (max-width: 800px) {
	h1{
    	font-size: 50px;
    	letter-spacing: 2px;
    }

    .gameCaption{
    	font-size: 16;
    }

    #redArc{
    	padding: 25px 0px 0px 0px;
    	width:	350px;
		height: 175px;
		border-radius: 175px 175px 0px 0px;
    }
    #orangeArc{
    	padding: 25px 0px 0px 0px;
    	width:	300px;
		height: 150px;
		border-radius: 150px 150px 0px 0px;
    }
    #yellowArc{
    	padding: 25px 0px 0px 0px;
    	width:	250px;
		height: 125px;
		border-radius: 125px 125px 0px 0px;
    }
    #greenArc{
    	padding: 25px 0px 0px 0px;
    	width:	200px;
		height: 100px;
		border-radius: 100px 100px 0px 0px;
    }
    #blueArc{
    	padding: 25px 0px 0px 0px;
    	width:	150px;
		height: 75px;
		border-radius: 75px 75px 0px 0px;
    }
    #whiteArc{
    	padding: 25px 0px 0px 0px;
    	width:	100px;
		height: 50px;
		border-radius: 50px 50px 0px 0px;
    }

}

@media only screen and (max-width: 440px) {
    /* For mobile phones: */
    h1{
    	font-size: 45px;
    	letter-spacing: 2px;
    }

    .tablink {
    	width:20% ;
    	font-size: 12px;
    	padding: 5px;
    	border-style: solid;
    	border-color: #fff;
    	border-width: 0px 1px 1px 1px;

    }

    .tablink:hover {
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
	}

    #sidebar {
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 30px;
        overflow-y: hidden;
    }

    #redT {
    	margin: 0px;
    	border-width: 0px 1px 1px 0px;
    	border-radius: 0px;
    }

    #blueT {
    	border-width: 0px 0px 1px 1px;
    	border-radius: 0px;
    	border-color: #fff;
    }

    .tabcontent {
    	background-color: #ffffff;
    	padding: 35px 0px 0px 0px;
    	margin: 0px 10px 10px 20px;
    }

    .gameCaption{
    	font-size: 16px;
    }
} /* end media only */
