body{
	background-color: white;
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	overflow: hidden;
}

h1{
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 100px;
	letter-spacing: 5px;
	background-color: #ffffff;
	width: 100%;
	text-size-adjust: 30%;
}

/* Style tab links */
.tablink {
    color: #000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: lowercase;
    width: 100%;
}

.tablink:hover {
    background-color: #ccc;
    color:#ffffff;
    font-style: italic;
    letter-spacing: 2px;
}

#sidebar{
    width: 130px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #000000;
    overflow-x: hidden;
    margin: 0px 0px 0px 20px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #000000;
    background-color:#fff;
    display: none;
    padding: 0px 40px 0px 40px;
    height: 100vh;
    margin: 0px 170px 0px 170px;
}

#redT {
	background-color: #ff0000;
}

#orangeT {
	background-color: #ff6e00;
}

#yellowT {
	background-color: #ffc700;
}

#greenT {
	background-color: #46f900;
}

#blueT {
	background-color: #00a5ff;
	border-style: solid;
	border-width: 0px 0px 10px 0px;
	border-color: #ffffff;
}

#red {
	color: #ff0000;
	border-color: #ff0000;
}

#orange {
	color: #ff6e00;
	border-color: #ff6e00;
}

#yellow {
	color: #ffc700;
	border-color: #ffc700;
}

#green {
	color: #46f900;
	border-color:#46f900;
}

#blue {
	color: #00a5ff;
	border-color: #00a5ff;
}

.contentbox{
	height: 100%;
	margin: 0px 0px 0px 0px;
	background-color: #ffffff;
	color: #555555;
	padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1{
    	font-size: 60px;
    	letter-spacing: 2px;
    }

    .tablink {
    	width:20% ;
    	font-size: 12px;
    	padding: 5px;
    }

    #sidebar {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        height: 30px;
        overflow-y: hidden;
    }

    #blueT {
    	border: 0px;
    }

    .tabcontent {
    	background-color: #ffffff;
    	padding: 35px 0px 0px 0px;
    	margin: 0px 10px 10px 20px;
    }


}
